.test-start-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffcccc;
}

.test-start-inner {
  text-align: center;
  padding: 1rem;
  max-width: 400px;
}

.test-start-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 1.5rem;
}

.test-btn {
  display: block;
  width: 100%;
  background: #ffffff;
  color: #222222;
  border: none;
  border-radius: 12px;
  padding: 0.9rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  transition: all 0.25s ease;
  text-align:left;
}

.test-btn:hover {
  background: #000;
  color: #fff;
}
