@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DungGeunMo';
    src: url('/fonts/DungGeunMo.woff2') format('woff2'),
         url('/fonts/DungGeunMo.woff') format('woff'),
         url('/fonts/DungGeunMo.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Regular.woff2') format('woff2'),
         url('/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body, html {
    margin: 0;
    padding: 0;    
    height: 100%;
    overflow-x: hidden;
    color: #fff;
    font-family: 'Pretendard', sans-serif;
    background: rgba(0, 0, 0, 0.6);
}

.videoBG{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 100vh;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    object-fit: cover;
    z-index: -1;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 0 20px;
}

img {
    position: relative;
    /*border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}    

header {
    height: 64px;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

header img.logo {
    width: 141.41px;
    height: 26px;
    object-fit: contain;
}

header .header-button {
    background-color: #3182f6;
    color: #fff;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

header h1 {
    font-size: 3em;
    margin: 0;
}

header p {
    font-size: 1.3em;
    color: #ffe300;
    font-weight: bold;
}


main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background:linear-gradient(90deg,#06b6d4,#3b82f6); */
    padding: 0 20px;
    padding-top: 64px; /* 헤더 공간 확보 */
    padding-bottom: 40px; /* 푸터 공간 확보 */
    box-sizing: border-box;
}

main section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    gap: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

main h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

main p {
    font-size: 0.8em;
    color: #676767;
    line-height: 1.5em;
}

footer {
    height: 30px;
    background-color: #15181e;
    color: #aaa;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 10;
}

footer p {
    margin: 0;
    color: #777;
}

a {
    color: #00aced;
    text-decoration: none;
}

.button {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
      background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.button:hover {
    background-color: #0084b4;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.Feed_root__718OK {
border: 1px solid #e5e5e5;
border-radius: 13px;
box-sizing: border-box;
overflow: hidden;
width: 240px
}

.Feed_root__718OK .cont_template {
padding-top: 5px
}


.Feed_root__718OK .img_thumb {
display: inline-block;
vertical-align: top
}

.Feed_root__718OK .desc_template {
cursor: pointer;
margin-top: 8px;
padding: 0 10px
}

.Feed_root__718OK .link_txt {
-webkit-box-orient: vertical;
display: -webkit-box;
max-height: 35px;
overflow: hidden;
text-overflow: ellipsis
}

.Feed_root__718OK .free_link_txt,.Feed_root__718OK .link_txt {
color: #00000080;
font-family: Apple SD Gothic Neo,NotoSans DemiLight,HelveticaNeue,Helvetica,Arial,AppleSDGothicNeo,Malgun Gothic,맑은 고딕,sans-serif;
font-size: 12px;
text-align: left;
letter-spacing: -.3px;
line-height: 17px;
vertical-align: top;
white-space: pre-wrap
}

.Feed_root__718OK .free_link_txt {
display: inline-block
}

.Feed_root__718OK .name_profile {
float: left;
margin-left: 4px;
width: calc(100% - 27px)
}

.Feed_root__718OK .name_profile.header {
border-bottom: 1px solid #e5e5e5;
margin-left: 0;
text-align: left;
width: 100%
}

.Feed_root__718OK .name_profile .link_txt {
color: #000000d9;
display: inline-block;
font-family: Apple SD Gothic Neo,NotoSans DemiLight,HelveticaNeue,Helvetica,Arial,AppleSDGothicNeo,Malgun Gothic,맑은 고딕,sans-serif;
font-size: 13px;
line-height: 23px;
max-width: 100%;
overflow: hidden;
text-overflow: ellipsis;
vertical-align: top;
white-space: nowrap
}



.Feed_root__718OK .free_title,.Feed_root__718OK .title {
color: #111;
font-family: NotoSans DemiLight,Malgun Gothic,맑은 고딕,Apple SD Gothic Neo,돋움,dotum,sans-serif;
font-size: 13px;
font-style: bold;
line-height: 17px;
margin-bottom: 4px;
vertical-align: top;
white-space: pre-wrap;
text-align: left;
word-break: break-all
}


.Feed_root__718OK .item_button.vertical {
margin-top: 8px;
padding: 0 10px
}

.Feed_root__718OK .item_button.horizontal button:not(:first-child) {
margin-left: 5px
}

.Feed_root__718OK .item_button.vertical button:not(:first-child) {
margin-top: 5px
}

.Feed_root__718OK .item_button .btn_msg {
background-color: #f1f2f4;
border-radius: 4px;
color: #000;
cursor: pointer;
display: block;
font-family: Apple SD Gothic Neo,NotoSans DemiLight,HelveticaNeue,Helvetica,Arial,AppleSDGothicNeo,Malgun Gothic,맑은 고딕,sans-serif;
font-size: 12px;
height: 36px;
line-height: 36px;
overflow: hidden;
text-align: center;
width: 100%
}

.Feed_root__718OK .item_profile {
cursor: pointer;
overflow: hidden;
padding: 0 10px
}

.Feed_root__718OK .item_profile .box_profile {
float: left;
height: 23px;
width: 23px
}

.Feed_root__718OK .item_profile .box_profile img {
border-radius: 5px
}

.Feed_root__718OK .item_moreview .link_moreview {
display: block;
overflow: hidden;
padding: 7px 9px 11px 10px
}

.Feed_root__718OK .link_moreview {
cursor: pointer
}

.Feed_root__718OK .link_moreview img {
border-radius: 5px;
float: left;
height: 13px;
width: 13px
}



.Feed_root__718OK .item_moreview .txt_moreview {
color: #0006;
float: left;
font-family: Apple SD Gothic Neo,NotoSans DemiLight,HelveticaNeue,Helvetica,Arial,AppleSDGothicNeo,Malgun Gothic,맑은 고딕,sans-serif;
font-size: 12px;
line-height: 15px;
margin-left: 4px;
max-height: 13px;
max-width: 150px;
overflow: hidden
}

.Feed_root__718OK .item_moreview .ico_developers {
background-position: -150px -130px;
float: right;
height: 15px;
width: 12px
}

.ThumbnailList_list_thumb__8381Z {
    grid-gap: 2px;
    display: grid;
    gap: 2px;
    height: 238px;
    width: 238px
    }
    
    .ThumbnailList_single_tmp__lcaO9 {
    max-height: 317px;
    min-height: 119px
    }
    
    .ThumbnailList_multi_tmp__C6-La.ThumbnailList_horizontal_layout_wrap__DHBW1 {
    grid-template-rows: 1fr 1fr
    }
    
    .ThumbnailList_list_thumb__8381Z .ThumbnailList_thumb_wrap__l6csx {
    background-color: #f7f8f8;
    cursor: pointer;
    display: block;
    height: 100%;
    position: relative;
    width: 100%
    }
    
    .ThumbnailList_center_crop__KcT2G {
    background-size: cover
    }
    
    .ThumbnailList_center_crop__KcT2G,.ThumbnailList_preserve_ratio__bFFiE {
    background-position: 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%
    }