.test-home-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-home-bg {
  object-fit: cover;
}

.test-home-start {
  z-index: 10;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 9999px;
  background-color: black;
  color: white;
  font-weight: 600;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  transition: all 0.25s;
}

.test-home-start:hover {
  transform: scale(1.05);
}
